/*============================================
ヘッダ
============================================*/
div#header {
	border-radius: 10px;
	font-size : 28pt;
	background-color:rgba(89, 179, 0, 0.70);
	padding: 3px;
	box-shadow: 2px 2px 2px #ccc;
	color: rgba(89, 179, 0, 0.70);
	text-shadow: -1px -1px 1px #ffffff, 1px 1px #000000;
	color : #ffffff;
	padding:10px 10px 10px 30px;
}
a {
	color : #ffffff;
	text-decoration:none;
}

/*============================================
メニュー
============================================*/
.menu{
	border-radius: 10px;
	font-size : 16pt;
    background-color: rgba(89, 179, 0, 0.70);
    padding: 3px 3px 3px 10px;
    box-shadow: 2px 2px 2px #ccc;
    color: rgba(89, 179, 0, 0.70);
	text-shadow: -1px -1px 1px #ffffff, 1px 1px rgb(0, 80, 41);
}
.menu ul{
    padding: 0px;
    margin: 0px;
}
.menu ul li {
	font-weight: bold;
    display: inline;
    margin-right: 1em;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
}
.menu ul li a:hover{
	color: rgb(0, 169, 88);
    border-bottom: dotted 1px rgb(0, 169, 88);
    text-shadow: 0px 0px 0px rgb(0, 80, 41), 1px 1px rgb(0, 80, 41);
}

.logout {
	border-radius: 20px;
	display       : inline-block;
	font-size     : 9pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	vertical-align: middle;
	cursor        : pointer;     /* カーソル   */
	padding       : 4px 11px;   /* 余白       */
	background    : rgba(0, 102, 0, 0.30);     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	border        : 2px solid rgba(0, 102, 0, 0.60);    /* 枠の指定 */
}
.logout:hover {
	color         : rgba(0, 102, 0, 0.70);     /* 背景色     */
	background    : #ffffff;     /* 文字色     */
}

/*============================================
ページング
============================================*/
.pages {
	text-align: center;
}
.pages li {
	display: inline;
	margin: 0 2px;
	padding: 0;
}
.pages li span,
.pages li a {
	border-radius: 7px;
	display: inline-block;
	margin-bottom: 5px;
	padding: 1px 8px;
	background: rgba(0, 102, 0, 0.70);
	border: 1px solid #aaa;
	text-decoration: none;
	vertical-align: middle;
	text-align    : center;
	color: white;
	transition    : .3s;         /* なめらか変化 */
	border        : 1px solid rgba(0, 102, 0, 0.60);    /* 枠の指定 */
}

.pages li a:hover {
	color         : rgba(0, 102, 0, 0.70);
	background    : #ffffff;
}

/*============================================
メイン
============================================*/
.main-contents {
	margin-right: auto;
	margin-left : auto;
	padding       : 10px 30px 30px 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: white;
	height: 100%;
	width: 850px;
}

/*============================================
ボディ
============================================*/
body {
	font-family: 'sans-serif';
	background-color: rgba(89, 179, 0, 0.50);
}

hr {
	height: 3px;
	background-color: rgba(89, 179, 0, 0.60);
	border: none;
	color: rgba(89, 179, 0, 0.70);
	box-shadow: 2px 2px 2px #ccc;
}


label {
}

div.headerSub {
	border-radius: 10px;
	display: table;
	font-size : 14pt;
	background-color:rgba(89, 179, 0, 0.70);
	box-shadow: 2px 2px 2px #ccc;
	color : #ffffff;
	padding:2px 12px 1px 10px;
	margin-top:6px;
}
.subLeft {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.subRight {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

div#formField {
	border-radius: 10px;
	color: white;
	width: auto;
	background-color:rgba(89, 179, 0, 0.60);
	padding: 3px;
	box-shadow: 2px 2px 2px #ccc;
	text-shadow: -1px -1px 1px #ffffff, 1px 1px #000000;
	padding:10px 30px 10px 30px;
	font-weight: bold;
}

label[for=bold] {
	font-weight: bold;
}

textarea {
	border-radius: 5px;
}

input {
	border-radius: 5px;
}

select {
	border-radius: 5px;
}



/*============================================
テーブル
============================================*/
table {
	text-align : left;
	border-collapse: collapse;         /* 境界線結合 */
	border-spacing : 0;                /* 罫線間余白 */
    border:1px solid #333;
	font-size      : 11pt;              /* 文字サイズ */
	background     : #ffffff;          /* テーブル全体の背景色 */
	box-shadow: 2px 2px 2px #ccc;
}
th {
	color:white;
	border-left:50px solid #005ab3;
	text-align : left;
	border:1px solid #333;
	background    : rgba(89, 179, 0, 0.70);
}
tr:nth-child(2n+1) {
   background    : rgba(89, 179, 0, 0.20);
}
.thChara{
	padding       : 0px 70px 0px 5px;
}
.tdChara{
	padding       : 0px 20px 0px 5px;
}
.thButton{
	text-align : center;
}
.tdButton{
}

.tdState{
	text-align : center;
}

/*============================================
ボタン
============================================*/
.ButtonDisabled {
	display       : inline-block;
	font-size     : 10pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 4px 11px;   /* 余白       */
	background    : rgba(0, 102, 0, 0.20);     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	border        : 2px solid rgba(0, 102, 0, 0.20);    /* 枠の指定 */
}

.ButtonDisabled:hover {
	color         : #ffffff;     /* 背景色     */
	background    : rgba(0, 102, 0, 0.20);     /* 文字色     */
}

Button {
	border-radius: 20px;
	display       : inline-block;
	font-size     : 10pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 4px 11px;   /* 余白       */
	background    : rgba(0, 102, 0, 0.70);     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	border        : 2px solid rgba(0, 102, 0, 0.70);    /* 枠の指定 */
}
Button:hover {
	color         : rgba(0, 102, 0, 0.70);     /* 背景色     */
	background    : #ffffff;     /* 文字色     */
}

/*============================================
div
============================================*/
div  {
}

div.main-contents {

}

div.formFieldItemParent{
  display: flex;
  align-items: center;
}

div.errorMessagesRight {
	font-weight: bold;
	margin : 0px ;
    padding : 0px ;
	color: red;
	text-align: right;
}

div.errorMessagesLeft {
	font-weight: bold;
	margin : 0px ;
    padding : 0px ;
	color: red;
	text-align: left;
}

.errorMessages {
	border-radius: 10px;
	text-shadow: 0px 0px 0px;
 	position: relative;
	display: inline-block;
 	margin: 0px 0px 0px 28px;
	padding: 10px 20px;
	min-width: 120px;
 	max-width: 100%;
 	color: red;
	font-size: 15px;
	background: white;
}

.errorMessages:before{
	content: "";
	position: absolute;
	top: 50%;
	left: -35px;
 	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 36px solid white;
}



div.buttonsFlex {
	display:inline-flex
}

div.pages {
	display:inline
}

div.userGrid {
}

div.user {
}

div.posts {
}

/*============================================
投稿
============================================*/
.boxSub {
	font-size: small;
}
.boxRight {
	text-align: right;
}
.postBox{
  border-radius: 10px;
  border: 2px solid rgba(89, 179, 0, 0.70);
  padding: .5em 1.5em;
  box-shadow: 2px 2px 2px #ccc;
}
.postBox h3{
  color: rgba(89, 179, 0, 0.90);
  text-align: left;
  margin: .2em auto;
  width: calc(100% - 2em);
  border-bottom: 2px solid rgba(89, 179, 0, 0.70);
}
.postBox .inner{
  padding: .5em 1.5em;
}


/*============================================
コメント
============================================*/

.commentForm {
	text-align: right;
}

.comments {
	margin-right: 25px;
}
.dateDiff {
	padding-right : 20px;
	font-size: small
}
.commentBox {
	box-shadow: 3px 5px 3px #ccc;
    position: relative;
    margin: 2em 0 2em 13em;
    padding: 10px 20px 10px 20px;
    background: rgba(89, 179, 0, 0.50);
    border-radius: 20px;
}
.commentBox:before{font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 15px;
    right: -40px;
    bottom: 0;
    color: rgba(89, 179, 0, 0.50);
}
.commentBox:after{
    font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 23px;
    right: -23px;
    bottom: 0;
    color: rgba(89, 179, 0, 0.50);
}
.commentBox p {
    margin: 0;
    padding: 0;
}

div.commentText {
	padding-top: 5px;
	padding-left: 10px;
}

div.postsText {
	padding-left : 20px;
}

div.menu {
}

div.search {
}
